body {
    background-image: url('images/World.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
  }


.Registration {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    color: #1E5631;
    font-size: 80px;
    margin-left: -25px;
       
      
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    width: 300px;
    flex-direction: column;
    gap: 35px;
    background: #e3e3e3;
    box-shadow: 16px 16px 32px #c8c8c8,
          -16px -16px 32px #fefefe;
    border-radius: 8px;
    margin-left: 250px;
    margin-top: 110px;
    overflow: auto;
    
  }
  
  .inputBox {
    position: relative;
    width: 250px;
  }
  
  .inputBox input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
  }
  
  .inputBox span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
  }
  
  .inputBox input:valid~span,
  .inputBox input:focus~span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
  }
  
  .inputBox input:valid,
  .inputBox input:focus {
    border: 2px solid #000;
    border-radius: 8px;
  }
  
  .enter {
    padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 60px;
  }
  
  .enter:hover {
    background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
  }

  .enter:active {
    transform: translateY(-1px);
  }
  

  .details{
    font-weight: bold;
    color: grey;
    margin-left: 15px;
  }

  .Visit {
position: fixed;
top: 20px;
right: 20px;
display: inline;
--color: #00A97F;
 --color2: rgb(10, 25, 30);
 padding: 0.8em 1.75em;
 background-color: transparent;
 border-radius: 6px;
 border: .3px solid var(--color);
 transition: .5s;
 overflow: hidden;
 cursor: pointer;
 z-index: 1;
 font-weight: 300;
 font-size: 17px;
 font-family: 'Roboto', 'Segoe UI', sans-serif;
 text-transform: uppercase;
 color: var(--color);
  }
  .Visit::after, .Visit::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .Visit::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .Visit:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .Visit:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .Visit:hover {
    color: var(--color2);
   }
   
   .Visit:active {
    filter: brightness(.7);
    transform: scale(.98);
   }
  
  .logo{
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    
  }

  .forgot{
    margin-left: 15px;
  }
  

  
  .social{
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    color: #1E5631;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .remember{
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    line-height: 1.3;
    color: #555;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  
  .create{
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    line-height: 1.3;
    color: #555;
    margin-top: 10px;
    line-height: 1.3;
  }


